fastapi
uvicorn
pydantic
PyYAML
pymysql
jinja2
pyecharts
pandas
openpyxl
numpy
pytz
python-dateutil
requests
colorama
yutto>=2.0.0rc5
aiofiles>=24.1.0
biliass==2.1.1
dict2xml>=1.7.6
httpx[http2,socks]>=0.27.2